<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<title>smart contect</title>
</head>

<body>
	<section>
			<div class="card mr-4 ml-4">
				<div class="card-body">
					<h1 class="text-center">Add Contact</h1>
					<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form  th:object="${contact}" enctype="multipart/form-data" method="post" 
							th:action="@{user/process-contact}" class="mt-2">
								<!-- first name -->
								<div class="input-group">
								 <div class="input-group-prepend">
									<div class="input-group-text ">
										<i class="fa fa-plus"></i>
										
									</div>
								 </div>	 
								 <input required type="text" id="firstName" name="name" placeholder="Enter your name" 
								 class="form-control">
								</div>
								
								<!-- secoundname -->
								
								<div class="input-group mt-3">
								 <div class="input-group-prepend">
								   <div class="input-group-text ">
									<i class="fa fa-user-alt"></i>										
									</div>
								  </div>	 
								<input type="text" id="secoundName" name="secoundName" placeholder="Enter your secoundName" 
								class="form-control">
							 </div>
										
							 <!--  phone -->
							  
							 <div class="input-group mt-3">
							 	<div class="input-group-prepend">
							 	 <div class="input-group-text ">
							 		<i class="fa fa-phone"></i>										
							 		   </div>
							 		  </div>	 
							 		<input required min="10" type="number" id="phone" name="phone"
									 placeholder="Enter phone Number" class="form-control">
							 	 </div>
								
								 <!-- email -->
								 
								 <div class="input-group mt-3">
								 	<div class="input-group-prepend">
								 	<div class="input-group-text ">
								 		@								
								 		</div>
								 	</div>	 
								 <input required type="text" id="email" name="email" 
								 placeholder="Enter email here" class="form-control">
								</div>
								 
								 <!-- work -->
								 
								 <div class="input-group mt-3">
								 	 <div class="input-group-prepend">
								 	  <div class="input-group-text ">
								 		 <i class="fa fa-briefcase"></i>										
								 			 </div>
							 				</div>	 
					     				<input type="text" id="work" name="work" 
										placeholder="Enter work here" class="form-control">
								 	 </div>
								 
								<!--  description -->
								
								<div class="form-group mt-3">
									<textarea class="form-control" id="mytextarea" rows="15" name="mytextarea" placeholder="Enter description here" ></textarea>
								</div>
								
								<!-- image -->
								
								<div class="custom-file">
									<input type="file" name="profileImage">
								</div>
								
								<!-- button --> 
								
								<div class="container text-center">
									<button class="btn btn-outline-primary">save contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			</div>
			<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
			<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
			  <script>
			    tinymce.init({
			      selector: '#mytextarea'
			    });
			  </script>
		</section>
</body>
</html>
